html, body {
    height: 100%;
}

* {
  -webkit-user-drag:none;
  user-drag: none;

  -moz-user-select:none;
  user-select:none;

  cursor:default;
  margin: 0;
}


.scroll {
  overflow:auto;
}


.drawing {
  background-color: darkGray;
  height : 100%;
  width : 100%;

  overflow:hidden;
  display:block;
  position:relative;
}


.cursor_lock * {
  cursor:inherit !important;
  pointer-events:inherit !important;
}


.drawing * {
  position: absolute;
  /*pointer-events: none !important;*/
}

.drawing div {
  height:100%;
  width:100%;
}

.vert {
  display:flex;
  flex-direction:column;
  flex: 1 1 auto;
  height:100%
}

.horiz {
  display:flex;
  flex-direction:row;

  flex: 1 1 auto;
  height:100%
}


.expand {
  height:100%;
  width:100%;
  display:flex
}


.sidebar {
  width:400px
}
