html, body {
    height: 100%;
    user-drag:none;
    user-select: none;
}



.scroll {
  overflow:auto;
}

.image_select {
   cursor: default; /* or the one which you would like to have */
   user-select: none;
   user-drag:none;

}


.drawing {
  background-color: darkGray;
  height : 100%;
  width : 100%;

  overflow:hidden;
  display:block;
  position:relative;

  user-select: none;
  user-drag:none;
}



.pointer_lock * {
  cursor:inherit !important;
  pointer-events:inherit !important;
}


.drawing * {
  position: absolute;
  pointer-events: auto !important;
}

.drawing div {
  height:100%;
  width:100%;
}

.vert {
  display:flex;
  flex-direction:column;
  flex: 1 1 auto;
  height:100%
}

.horiz {
  display:flex;
  flex-direction:row;

  flex: 1 1 auto;
  height:100%
}


.expand {
  height:100%;
  width:100%;
  display:flex
}


.sidebar {
  width:400px
}
