html, body {
    height: 100%;
}

* {
  -webkit-user-drag:none;
  user-drag: none;

  -moz-user-select:none;
  user-select:none;

  cursor:default;
}


.scroll {
  overflow:auto;
}


.drawing {
  background-color: darkGray;
  height : 100%;
  width : 100%;

  overflow:hidden;
  display:block;
  position:relative;s
}


.cursor_lock * {
  cursor:inherit !important;
  /*pointer-events:inherit !important;*/
}


.drawing div {
  position: absolute;
}


.vert {
  display:flex;
  flex-direction:column;
  flex: 1 1 auto;
  height:100%
}

.horiz {
  display:flex;
  flex-direction:row;

  flex: 1 1 auto;
  height:100%
}


.expand {
  height:100%;
  width:100%;
  display:flex
}


.sidebar {
  width:400px
}



.brush {
  stroke: black;
  fill: blue;
  vector-effect: non-scaling-stroke;
  fill-opacity: 0.4;
}


.zoom {
  right : 10px;
  bottom: 10px;
}
